*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.App{
 display: flex;
 flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  background: #21222A;;
  color: white;
  width: 550px;
  height: 91px;
}
.reactfact{
  display: flex;
  align-items: center;
  color: rgba(97, 218, 251, 1);
  width: 158px;
  height: 28.93px;
  flex-shrink: 0;
  
}
.react{
  color: #DEEBF8;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 60px;
}