*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.App{
 display: flex;
 flex-direction: column;
}
nav{
  display: flex;
  align-items: center;
  background: #21222A;;
  color: white;
  width: 550px;
  height: 91px;
}

.nav--logo-text{
  margin-right: auto;
  color: #61DAFB;
  font-family: Inter;
  font-size: 22.253px;
  font-weight: 700;
  letter-spacing: -1.113px;
}
.nav--title{
  color: #DEEBF8;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  padding-right: 80px;

}
main{
  width: 550px;
  height: 459px;
  background: #282D35;
}
main> h1{
  color: #FFF;
font-family: Inter;
font-size: 39.06px;
font-weight: 700;
letter-spacing: -1.953px;
padding: 57px 27px;
}
ul{
  margin-top: 46px;
}
li{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding-block: 10px;
}